<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content=" ">
        <meta name="keywords" content="Book Worms, Reading, Books">
        <meta name="author" content="Group 15">
        <title>BookWorms - Recommendations</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename='img/logoIcon.ico/')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='styleDiagnostic.css')}}">
        <link href="{{url_for('static', filename='advsearch.css')}}" rel="stylesheet">
        <style>
            body{
                font: 15px/1.5 'Lato', sans-serif;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
                scroll-behavior: smooth;
                padding: 0;
                margin: 0;
                background:url("{{ url_for('static', filename='img/headerImg.png') }}");
            }
            </style>
    
    </head>

    <body onload="displayrecommendations()">
        <script src="{{url_for('static', filename='recommendation.js')}}"></script>
        <script src="{{url_for('static', filename='displayrecommendations.js')}}"></script>
        <!-- BUTTON TO TOP -->
        <button id="buttonToTop">
            <i class="material-icons" title="Return to top of page">expand_less</i>
        </button>
        <!-- HEADER -->
        <header>
            <div class="container">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="current"><a href="{{ url_for('diagnostic') }}">Preferences</a></li>
                    <li><a href="{{ url_for('playlist') }}">Playlist</a></li>
                    <li><a href="{{ url_for('search') }}">Search</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <section id="space"></section>

        <div id = "bodycard">

        </div>

        

        
    <div id="google_translate_element"></div>
    <script>
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en'
        }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
    </body>
    <script>
        const buttonToTop = document.querySelector("#buttonToTop");

        buttonToTop.addEventListener("click", function(){
            window.scrollTo({top: 0, left: 0, behavior: "smooth"});
        });

        var mybutton = document.getElementById("buttonToTop");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200){
            mybutton.style.display = "block";}
        else {mybutton.style.display = "none";}
        }
    </script>
</html>